/*Small screen*/
@media only screen and (max-width: 415px) {
  body{
    background-color: blue;
    font-family: "Carrois Gothic";
    color: #1f1f1f;
  }

  h1 {
    font-family: "Friz Quadrata";
    font-size: 35px;
  }

  h2 {
    font-family: "Friz Quadrata";
    font-size: 20px;
  }

  h3 {
    font-family: "Friz Quadrata";
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  img {
    display: block;
    margin: auto;
  }

  a {
    padding: 0px;
    color: #347C06;
  }

  textarea {
    resize: none;
  }

  button {
    font-family: "Carrois Gothic";
    font-size: 15px;
    width: 14em;
    height: 3em;
    border-radius: 25px;
    border-width: 0;
    background-color: #347C06;
    color: white;
    cursor: pointer;
  }

  .bold {
    font-weight: bold;
  }

  .green {
    color: #347C06;
  }

  /*Navigation Bar*/
  .navgrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 20px;
    padding-bottom: 10px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: #c9d1d6;
    /*position: fixed; If we want to keep the nav bar always visible*/
  }

  .brand {
    margin-top: -15px;
    margin-left: 0px;
    width: 100%;
  }

  .navbar {
    width: 100%;
    text-align: center;
  }

  li {
    display: inline-block;
  }

  .nav { /*Change to dropdown!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    font-size: 20px;
    text-align: center;
    padding: 16px 20px;
    color: #616161;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #b2babf;
  }

  .active {
    font-weight: bold;
  }

  .center {
    text-align: center;
    margin-top: 10px;
  }

  .nav-button {
    font-size: 14px;
  }

  /*Footer*/
  .footer {
    text-align: center;

    width: 100%;
    margin-top: 15px;
  }

  .f-img {
    display: inline-grid;
    margin: 20px;
    margin-bottom: 0px;
  }

  .f-para {
    font-size: 15px;
  }

  .facebook {
    width: 50px;
  }

  .pinterest {
    width: 50px;
  }

  .instagram {
    width: 50px;
  }

  /*Index Page*/
  .i-grid {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1.5fr;
    padding: 20px;
  }

  .i-griditem {
    margin-left: 5%;
    margin-right: 5%;
  }

  .i-header {
    margin-top: 0px;
  }

  .i-button {
    margin-top: 20px;
  }

  .i-img {
    float: left;
    width: 100%;
  }

  /*About Page*/
  .a-img { /*IDK!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    margin-top: 20px;
    width: 60%;
  }

  .a-header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .a-para {
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 18px;
  }

  /*Gallery Page*/
  .g-header {
    margin-top: 20px;
    text-align: center;
  }

  .g-grid {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 50px;
    grid-template-columns: auto auto;
    padding: 5px;
  }

  .g-img {
    width: 90%;
  }

  /*Events Page*/
  .e-img {
    margin-top: 20px;
    width: 70%;
  }

  .e-heading {
    text-align: center;
  }

  .e-grid { /*IDK!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    display: grid;
    margin-left: 40px;
    margin-right: 40px;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .e-griditem {
    text-align: center;
    padding-bottom: 20px;
    background-color: #c9d1d6;
  }

  .e-h3 {
    margin-top: -10px;
  }

  /*Tips Page*/
  .t-header {
    text-align: center;
    margin-top: 20px;
  }

  .t-grid {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 50px;
    grid-template-columns: auto auto;
    padding: 20px;
    margin-top: 20px;
  }

  .t-griditem {
    text-align: center;
  }

  .t-img {
    width: 80%;
  }

  .t-button {
    font-size: 16px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 20px;
  }

  .t-button:hover, .t-button:focus {
    background-color: #3e8e41;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px #00000033;
  }

  .dropdown-content a {
    color: black;
    font-size: 20px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .show {
    display: block;
  }

  .t-empty {
    margin-bottom: 50px;
  }

  /*Contact Page*/
  .c-header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 80px;
    color: #43994f;
  }

  .c-div {
    display: block;
    text-align: center;
  }

  .c-form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 20px;
  }

  .box {
    width: 300px;
    border: 2px solid lightgrey;
    padding: 10px;
    margin: 30px;
  }

  .c-textarea {
    height: 100px;
    width: 295px;
    max-width: 295px;
    min-width: 295px;
  }

  .submit {
    display: block;
    font-size: 16px;
    width: 8em;
    height: 3em;
    border-radius: 25px;
    border-width: 0;
    color: white;
    background-color: #43994f;
    margin: auto;
  }

  /*Events Coming Up Pages*/
  .ev-grid {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }

  .ev-griditem {
    margin-left: 5%;
    margin-right: 5%;
  }

  .ev-header {
    margin-top: 0px;
  }

  .ev-img {
    float: left;
    width: 100%;
  }

  .ev-info {
    margin: 0;
    float: left;
  }

  /*Tips Information Pages*/
  .ti-top {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .ti-header {
    text-align: center;
    margin-top: 20px;
    margin-left: -100px;
  }

  .ti-back {
    display: block;
    align-items: left;
    margin-top: 15px;
    margin-left: 50px;
    width: 50px;
  }

  .ti-backimg {
    width: 50px;
  }

  .ti-img {
    margin-bottom: 40px;
  }

  .ti-box {
    display: block;
    margin: auto;
    width: 80%;
    padding: 10px 80px 10px 80px;
    margin-bottom: 20px;
    background-color: #c9d1d6;
    text-align: center;
  }

  .ti-h3 {
    text-align: center;
  }

  .ti-para {
    text-align: center;
  }

  .ti-list {
    text-align: left;
    margin-top: -20px;
  }

  /*Modal*/
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000066;
  }

  .my-modal{
    cursor: pointer;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    text-align: center;
  }

  .modal-img {
    width: 30%;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}
